/* body  */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.container {
    width: 90%;
    margin-top: 45px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--------------------
    heading section
--------------------- */
.top-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #161616;
    color: white;
    border-radius: 30px;
    margin-bottom: 130px;
}

.head-title {
    color: white;
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 0%;
}

.head-detail {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px 0 40px 0;
}

.watch-stream {
    padding: 16px 25px;
    width: 187px;
    height: 56px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 40px;
    animation: sliding 3s ease-in-out 1s infinite alternate;
    animation-play-state: running;
}

@keyframes sliding {
    0% {
        background-color: red;
        color: white;
    }

    50% {
        background-color: green;
        color: white;
    }

    100% {
        background-color: white;
        color: black;
    }
}

/* heading information */
.head-info {
    padding: 11px 0px 11px 75px;
}

.head-image,
img {
    width: 95%;
    height: 100%px;
    padding-top: 15px;
    padding-right: 15px;
    border-radius: 11.4423px 11.4423px 0px 0px;
}


/* -------------------
    Menu button
------------------  */
.menu-buttons {
    background-color: #161616;
    border-radius: 10px;
    height: 312px;
    width: 312px;
}

.menu-button {
    padding: 30px;
    width: 252px;
    height: 252px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

}

.m-value {
    width: 252px;
    height: 64px;
    color: #161616;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.selected-menu {
    background: #DD0000;
    color: white;
}

.steam-now {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    margin-bottom: 24px;
}

.article-info {
    padding: 20px;
}

/*---------------------
     Midle section 
------------------------- */

.midle-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr 3fr);
    column-gap: 24px;
    margin-bottom: 26px;
}

.steaming-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}

/* Streaming matches */
.match-img img {
    padding-top: 0;
    width: 310px;
    height: 100%;
}

.streaming-link {
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
}

.match-info {
    font-size: 18px;
    font-weight: 600;
}


.time {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 26px;
    width: 143px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.t-image {
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
}

/* View iption  */

.vw {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
    padding: 12px 29px 12px 29px;
    background-color: #DD0000;
    border-radius: 5px;
    margin-bottom: 65px;
    visibility: hidden;
}

/* -------------------
    Footer part 
---------------------*/
.bottom-section {
    background-color: #161616;
    width: 100%;
}

.goal {
    font-weight: 600;
    font-size: 40px;
    padding: 97px 0 20px 0;
    text-align: center;
    color: #FFFFFF;
}

hr {
    width: 85%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.about-us {
    display: flex;
    justify-content: center;
}

.about-us h3 {
    margin-right: 40px;
    color: #B9B9B9;
    font-weight: 500;
    font-size: 16px;
}

/* our web site here */

.icon-p {
    text-decoration: none;
    margin-left: 32px;
    font-size: 36px;
}

.p-icon {
    color: rgb(29, 29, 211);
}

.p-youtube {
    color: red;
}

.t-icon {
    color: rgb(8, 148, 241);
}

.l-icon {
    color: rgb(31, 100, 157);
}

.gittu {
    color: white;
    background-color: black;
}

.our-pages {
    margin-top: 20px;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 48px;
}

/* -----------------------------------------------------------------------------------------------------------
-------------------------------------Responsiveness-----------------------------------------------------------
------------------------------------------------------------------------------------------------------------- */
/* -------------
    Mobile 
--------------- */
@media only screen and (max-width: 688px) {
    main {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .head-info {
        padding: 48px 38px 0 38px;
    }

    .head-title {
        font-size: 36px;
        margin: 0%;
        text-align: center;
    }

    .head-detail {
        text-align: center;
    }

    .elip {
        height: 75px;
        overflow: hidden;
        margin-bottom: 36px;
    }

    .elips {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .head-image {
        height: 245px;
        width: 230px;
        margin-left: 110px;
    }


    .top-section {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

    .wl {}

    .watch-stream {
        margin-left: 90px;
    }

    .menu-buttons {
        background-color: white;
        align-items: center;
    }

    .midle-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .steaming-match {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-us {
        display: grid;
    }

    .article-info {
        width: 360px;
    }

    .match-img img {
        width: 100%;
        border-radius: 10px 20px 0 0;
    }
}

/*--------------
    Tablet
-------------- */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    .top-section {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .head-title {
        margin-top: -28px;
        font-size: 28px;
        font-weight: 700;
    }

    .head-detail {
        font-size: 12px;
        font-weight: 400;
    }

    .steam-now {
        margin-top: 20px;
    }


    .midle-section {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .menu-button {
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-buttons {
        background-color: white;
        height: 20px;
        margin-bottom: 100px;

    }

    .m-value {
        height: 64px;
        width: 210px;
        margin-right: 22px;
    }


    .vw {
        visibility: visible;
    }

    .view-option {
        text-align: center;
    }

    .steaming-match {
        grid-template-columns: repeat(2, 1fr);
    }


    .sth {
        display: none;
    }

    .about-us {
        margin-left: 28px;
    }

    .match-img img {
        width: 100%;
        border-radius: 10px 20px 0px 0;
    }
}